h1 {
  background-color: #a52a2a;
  color: #ffffff;
}

.container {
  display: inline-block;
  width: 759px;
}

article {
  font-size: 18px;
}

footer {
  font-size: 20px;
}

.top_title {
  text-align: center;
  /* display: inline-block; */
  /* width: 759px; */
}

.car {
  display: inline-block;
  border-style: dashed;
}

.cars {
  /* display: block; */
  /* width: 759px; */
  text-align: center;
}

/* .First_paragraph {
  display: block;
  width: 759px;
} */
/* .Second_paragraph {
  display: block;
  width: 759px;
} */
.footer_copy {
  text-align: center;
  background-color: black;
  color: #ffffff;
  /* display: inline-block; */
  /* width: 759px; */
}

.duis {
  color: blue;
}